.tech {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    justify-content: center;
    background: radial-gradient(purple, black);
}

.tech__title {
    font-size: 40px;
    color: whitesmoke;
}

.tech__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.tech__images > img {
    width: 10%;
    object-fit: contain;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

#html5 {
    width: 14%;
}

@media (max-width: 600px) {
    
    .tech__images > img {
        padding: 10px;
    }
    .tech__title > h2 {
        font-size: 20px;
    }
}