.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    max-width: 400px;
    max-height: 200px;
    
}

.project:hover {
    transform: scale(1.2);
    transition: 200ms ease-in-out;
}

.project__title {
    color: black;
    text-align: center;
    width: 100%;
    cursor: pointer;
}


.project__link {
    text-decoration: none;
}

.project > img {
    width: 100%;
    overflow: hidden;
}

@media (max-width: 600px) {
    .project {
        width: 80%;
    }
    .project__title {
        font-size: 10px;
    }
}